<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Agent configuration | GROS</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Vollkorn">
        <link rel="stylesheet" href="/res/index.css">
        <link rel="stylesheet" href="/res/form.css">
    </head>
    <body>
        <h1>Agent configuration</h1>
        <p>Hover over the fields to see more hints about configuring the setting and information about the purpose of the data. When you select a field, then the hint will remain in view so that you can follow any links in the hints. Fields with bold names are required. Return to the <a href="/">index</a> to view current status.</p>
        <form action="" method="{{method}}" enctype="{{{enctype}}}">
            {{{form}}}
            <div class="field">
                <button type="submit">Update</button>
            </div>
        </form>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/res/form.js"></script>
    </body>
</html>
