        <meta charset="utf-8">
        <title>{{title}} | GROS</title>
        <link rel="shortcut icon" href="/res/favicon.ico">
        <link rel="icon" href="/res/icon.png">
        <link rel="apple-touch-icon" href="/res/icon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Vollkorn">
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
