<!doctype html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" href="/res/index.css">
    </head>
    <body>
        <main role="main">
            <h1>{{title}}: <span class="status-{{status_class}}">{{status_text}}</span></h1>
            <div>
                <p id="version">Agent version: {{version}}
                    {{#ssh_host}}
                    <button class="update">Check updates</button>
                    {{/ssh_host}}
                </p>
                <p id="scrape">Latest data collection:
                    <span class="{{scrape_class}}" title="{{scrape_title}}">
                        {{scrape_date}}
                    </span>
                    {{#export_url}}
                    (<a href="{{export_url}}">view</a>)
                    {{/export_url}}
                </p>
                <p id="edit"><a href="/edit">Edit configuration</a></p>
            </div>
        </main>
        <footer>
            {{#visualization_url}}
            <p id="link">Find out where the collected data is used for in the <a href="{{visualization_url}}">GROS Visualization Hub</a></p>
            {{/visualization_url}}
        </footer>

        <script src="/jquery/jquery.min.js"></script>
        <script src="/res/index.js"></script>
    </body>
</html>
