<!doctype html>
<html>
    <head>
        <title>Agent configuration | GROS</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Vollkorn">
        <style>
            body {
                font-family: 'Roboto', sans-serif;
            }
            form {
                border-bottom: 1px dashed #ccc;
                width: 375px;
            }
            label {
                position: relative;
                width: 200px;
                top: 6px;
            }
            .required label {
                font-weight: bold;
            }
            .field {
                border-top: 1px dashed #ccc;
                padding: 10px 5px 15px 5px;
                position: relative;
            }
            .field input, .field select, .field textarea, .field button {
                margin: -20px 0 0 175px;
                width: 180px;
            }
            .field textarea {
                margin-top: -15px;
            }
            .field input[type="checkbox"] {
                position: relative;
                margin-left: 32px;
                top: 4px;
            }
            .field fieldset input {
                margin: 0;
                width: 20px;
            }
            .field button {
                font-size: 120%;
            }
            .hint {
                font-size: 85%;
                color: #333333;
                text-align: right;
            }
            .hint .longer_hint {
                display: none;
                text-align: justify;
            }
            .field:hover + .hint .longer_hint, .hint:hover .longer_hint {
                display: block;
            }
            .error {
                background: #ffcccc;
            }
            .error_msg {
                color: red;
                margin: -15px 0 0 0;
                padding: 5px 0;
            }
            button[type="submit"] {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Agent configuration</h1>
        <form action="" method="{{method}}" enctype="{{{enctype}}}">
            {{{form}}}
            <div class="field">
                <button type="submit">Update</button>
            </div>
        </form>
    </body>
</html>
