<!doctype html>
<html>
    <head>
        <title>Agent configuration | GROS</title>
        <style>
			body {
				font-family: 'Roboto' sans-serif;
			}
            form {
                border-bottom: 1px dashed #ccc;
                width: 375px;
            }
            label {
                position: relative;
                width: 200px;
                top: 6px;
            }
            .required label {
                font-weight: bold;
            }
            .field {
                border-top: 1px dashed #ccc;
                padding: 10px 5px 15px 5px;
                position: relative;
            }
            .field input, .field select, .field textarea {
                margin: -20px 0 0 175px;
                width: 180px;
            }
            .field textarea {
                margin-top: -15px;
            }
            .field input[type="checkbox"] {
                position: relative;
                margin-left: 32px;
                top: 4px;
            }
            .field fieldset input {
                margin: 0;
                width: 20px;
            }
			.hint {
				font-size: 90%;
				color: #333333;
				text-align: right;
			}
            .error {
                background: #ffcccc;
            }
            .error_msg {
                color: red;
                margin: -15px 0 0 0;
                padding: 5px 0;
            }
            button[type="submit"] {
                margin-top: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Agent configuration</h1>
        <form action="" method="{{method}}" enctype="{{enctype}}">
            {{{form}}}
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
