<!doctype html>
<html lang="en">
    <head>
		<meta charset="utf-8">
        <title>Agent configuration | GROS</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Vollkorn">
        <link rel="stylesheet" href="/res/form.css">
    </head>
    <body>
        <h1>Agent configuration</h1>
        <form action="" method="{{method}}" enctype="{{{enctype}}}">
            {{{form}}}
            <div class="field">
                <button type="submit">Update</button>
            </div>
        </form>
		<script src="/jquery/jquery.min.js"></script>
		<script src="/res/form.js"></script>
    </body>
</html>
