<!doctype html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" href="/res/index.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>The configuration has been saved.
            {{#config_url}}
            You can <a href="{{config_url}}">inspect</a> the raw files.
            {{/config_url}}
            Return to the <a href="/">index</a> or <a href="/edit">edit</a> the configuration again to review the settings and state.
        </p>
    </body>
</html>

