.component {
    position: relative;
    border: 1px solid #bbb;
    width: 375px;
    display: inline-block;
    padding: 4px;
    vertical-align: top;
}
.component .name {
    font-size: 120%;
    font-weight: bold;
    text-align: left;
    margin-right: 40px;
}
.component .clone {
    position: absolute;
    top: 2px;
    right: 2px;
}
form {
    border-bottom: 1px dashed #ccc;
    width: 100%;
}
label {
    position: relative;
    width: 200px;
    top: 6px;
}
.required label {
    font-weight: bold;
}
.field {
    border-top: 1px dashed #ccc;
    padding: 10px 5px 15px 5px;
    position: relative;
}
.field input, .field select, .field textarea, .field button {
    margin: 4px 0 0 175px;
    width: 180px;
}
.field textarea {
    vertical-align: baseline;
    font-family: monospace;
    font-size: 72%;
    resize: vertical;
    word-break: break-all;
}
.field input[type="checkbox"] {
    position: absolute;
    top: 14px;
    left: 175px;
    width: auto;
}
.field fieldset input {
    margin: 0;
    width: 20px;
}
.field button {
    font-size: 120%;
    margin: 0 auto 0 auto;
    display: block;
}
.map .field {
    border-top: none;
    padding-bottom: 5px;
    font-size: 80%;
    text-align: right;
}
.map .field label {
    vertical-align: top;
}
.map .field input, .map .field select, .map .field textarea, .map .field button {
    margin: 0px 0px 0px 10px;
}
.item {
    position: relative;
}
.item .clone {
    top: 35px;
    left: auto;
    right: auto;
}
.item .clone button {
    margin: initial;
    font-size: 80%;
    width: initial;
    display: block;
	position: relative;
	z-index: 99;
}
.item .sequence {
    position: absolute;
    top: 10px;
    font-weight: bold;
}
.hint {
    font-size: 85%;
    color: #333333;
    text-align: right;
}
.hint .longer_hint {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: justify;
}
.field:hover + .hint .longer_hint, .hint:hover .longer_hint, .field:focus-within + .hint .longer_hint {
    display: block;
    background: white;
    border: 1px solid #aaaaaa;
    padding: 3px;
    width: 99%;
    z-index: 499;
}
.field:focus-within + .hint .longer_hint {
    z-index: 999;
}
.error {
    background: #ffcccc;
}
.error_msg {
    color: red;
    margin: -15px 0 0 0;
    padding: 5px 0;
}
.toggle-expand, .toggle-collapse {
    font-size: 200%;
    text-align: center;
}
button[type="submit"] {
    margin-top: 20px;
}
